body{
	background-color: #45475e;
}
pre{
	position: fixed;
	top:-100px;
	left:-100px;
}
.papapager{
	padding: 0px !important;
	font-size: 18px;
}

.chiose-group{
	margin: 0px !important;
	padding: 0px !important;
	height: 100%;
}

.chiose-btn{
	padding: 15px;
    height: 45%;
}
.chiose-tips {
	display: table;
    height: 10%;
}
.chiose-tips p{
    display: table-cell;
    margin: 0px;
    vertical-align: middle;
    text-align: center;
    color: #fff;
}
.chiose-square {
    height: 100%;
}
.chiose-opposite {
    height: 100%;
}
.chiose-square button, 
.chiose-opposite button {
    width: 100%;
    height: 100%;
    color: #fff;
    font-size: 48px;
}

.chiose-left{
	background: #cc3333 !important;
	-webkit-box-shadow: 0 15px 0 #ff1022, 0 12px 15px rgba(0, 0, 0, 0.3) !important;
    box-shadow: 0 15px 0 #ff1022, 0 12px 15px rgba(0, 0, 0, 0.3) !important;
}

.chiose-right{
    background: #0066CC !important;
    -webkit-box-shadow: 0 15px 0 #0880d7, 0 12px 15px rgba(0, 0, 0, 0.3) !important;
    box-shadow: 0 15px 0 #0880d7, 0 12px 15px rgba(0, 0, 0, 0.3) !important;
}

.chiosedleftd{
	background-color: #cc3333 !important;
    text-shadow: 0px 0px 10px #fff!important;
    font-weight: 600 !important;
}
.chiosedrightd{
	background-color: #0066CC !important;
    text-shadow: 0px 0px 10px #fff!important;
    font-weight: 600 !important;
}

@media all and (orientation:landscape){/*横屏*/

}
@media all and (orientation:portrait){/*竖屏*/

}